- @page_title = 'Player API "seek to" example'

p The following video is using the Classic design (this is the default design).

= render_demo_html
= render_demo_sources 'html', 'js'
= inject_demo_js
