- @page_title = 'Lightbox close button in the top-right of the player'

p Here the close button is positioned in the top-right of the player.

= inject_demo_css
= render_demo_html
= render_demo_sources 'html', 'css'
