- @page_title = 'Social sharing button and pane with no link sharing'

p Here we're not displaying the link input field in the sharing pane. Click the social sharing button to open the sharing pane.

= render_demo_html
= render_demo_sources 'html'
= render 'use_a_different_design_note'
