---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/show/53134759622217728.json?include_entities=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="KTWk4ZrufEHjncLCsNwhw", oauth_nonce="cfcd2706940284ebcd39d932b4cc86de",
        oauth_signature="KWF4RFoogpzUSds%2FPJ3iTl%2Fz7yM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1365500117", oauth_token="6797462-Sz009rpFmcLGIBANAyJRsKoUlHtf2Rl5YuufnZeiI",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 09 Apr 2013 09:35:17 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '173'
      X-Rate-Limit-Reset:
      - '1365501014'
      X-Transaction:
      - af7c8925ef5dd018
    body:
      encoding: UTF-8
      string: '{"created_at":"Wed Mar 30 16:41:28 +0000 2011","id":53134759622217728,"id_str":"53134759622217728","text":"SublimeVideo
        is now commercially available. We use it on @methodandcraft and absolutely
        love it!\n\nhttp:\/\/t.co\/iqfdo81\n\n\/cc @jilion","source":"\u003ca href=\"http:\/\/itunes.apple.com\/us\/app\/twitter\/id409789998?mt=12\"
        rel=\"nofollow\"\u003eTwitter for Mac\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":5478442,"id_str":"5478442","name":"Noah
        Stokes","screen_name":"motherfuton","location":"I live where you vacation.","description":"Partner
        @bold. Designer\/Developer. Co-Founder of one boy, angel investor in two others.","url":"http:\/\/t.co\/V64HhrU6CC","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/V64HhrU6CC","expanded_url":"http:\/\/esbueno.noahstokes.com","display_url":"esbueno.noahstokes.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":7136,"friends_count":148,"listed_count":480,"created_at":"Tue
        Apr 24 21:50:10 +0000 2007","favourites_count":204,"utc_offset":-28800,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":17348,"lang":"en","contributors_enabled":false,"is_translator":false,"profile_background_color":"2B2F48","profile_background_image_url":"http:\/\/a0.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/si0.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/a0.twimg.com\/profile_images\/3060860870\/6724d43873251213a89248b332b27c9f_normal.jpeg","profile_image_url_https":"https:\/\/si0.twimg.com\/profile_images\/3060860870\/6724d43873251213a89248b332b27c9f_normal.jpeg","profile_banner_url":"https:\/\/si0.twimg.com\/profile_banners\/5478442\/1353465494","profile_link_color":"3A3A4D","profile_sidebar_border_color":"F5DB75","profile_sidebar_fill_color":"FFED94","profile_text_color":"000000","profile_use_background_image":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":8,"entities":{"hashtags":[],"urls":[{"url":"http:\/\/t.co\/iqfdo81","expanded_url":"http:\/\/d.pr\/NQFn","display_url":"d.pr\/NQFn","indices":[98,117]}],"user_mentions":[{"screen_name":"methodandcraft","name":"Method
        & Craft","id":128620610,"id_str":"128620610","indices":[57,72]},{"screen_name":"Jilion","name":"Jilion","id":65370701,"id_str":"65370701","indices":[123,130]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"}'
  recorded_at: Tue, 09 Apr 2013 09:35:18 GMT
recorded_with: VCR 2.4.0
