---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/show/14786759290.json?include_entities=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="KTWk4ZrufEHjncLCsNwhw", oauth_nonce="5a257253ec1a7daba0aa24b7907ec37e",
        oauth_signature="2exWurh1Zlserabw5mGXUgh%2FBj4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1365500116", oauth_token="6797462-Sz009rpFmcLGIBANAyJRsKoUlHtf2Rl5YuufnZeiI",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 09 Apr 2013 09:35:16 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '176'
      X-Rate-Limit-Reset:
      - '1365501014'
      X-Transaction:
      - 3db01c40765fc459
    body:
      encoding: UTF-8
      string: '{"created_at":"Wed May 26 20:35:12 +0000 2010","id":14786759290,"id_str":"14786759290","text":"Help
        with the oil spill using @appcelerator #titanium and the awesome @intridea
        Oil Reporter API . http:\/\/bit.ly\/dCueLT","source":"\u003ca href=\"http:\/\/www.tweetdeck.com\"
        rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":15893275,"id_str":"15893275","name":"squarefactor","screen_name":"squarefactor","location":"Orlando,
        FL","description":"We design and develop award winning interactive experiences
        for web, mobile, social and more.","url":"http:\/\/squarefactor.com","entities":{"url":{"urls":[{"url":"http:\/\/squarefactor.com","expanded_url":null,"indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":338,"friends_count":65,"listed_count":28,"created_at":"Mon
        Aug 18 16:20:58 +0000 2008","favourites_count":7,"utc_offset":-18000,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":703,"lang":"en","contributors_enabled":false,"is_translator":false,"profile_background_color":"0D0020","profile_background_image_url":"http:\/\/a0.twimg.com\/profile_background_images\/724705492\/64fb7a4dc4cb69055b333e53d39f6349.jpeg","profile_background_image_url_https":"https:\/\/si0.twimg.com\/profile_background_images\/724705492\/64fb7a4dc4cb69055b333e53d39f6349.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/a0.twimg.com\/profile_images\/1662499778\/sflogo2_normal.jpg","profile_image_url_https":"https:\/\/si0.twimg.com\/profile_images\/1662499778\/sflogo2_normal.jpg","profile_banner_url":"https:\/\/si0.twimg.com\/profile_banners\/15893275\/1354217250","profile_link_color":"FAA419","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"FFFFFF","profile_text_color":"5F5F5F","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":{"type":"Point","coordinates":[28.659501,-81.393913]},"coordinates":{"type":"Point","coordinates":[-81.393913,28.659501]},"place":{"id":"e40595796da14879","url":"https:\/\/api.twitter.com\/1.1\/geo\/id\/e40595796da14879.json","place_type":"city","name":"Altamonte
        Springs","full_name":"Altamonte Springs, FL","country_code":"US","country":"United
        States","polylines":[],"bounding_box":{"type":"Polygon","coordinates":[[[-81.443527,28.639849],[-81.343698,28.639849],[-81.343698,28.690035],[-81.443527,28.690035]]]},"attributes":{}},"contributors":null,"retweet_count":3,"favorite_count":0,"entities":{"hashtags":[{"text":"titanium","indices":[44,53]}],"urls":[],"user_mentions":[{"screen_name":"appcelerator","name":"Appcelerator","id":9662352,"id_str":"9662352","indices":[30,43]},{"screen_name":"intridea","name":"Intridea,  Inc.","id":14455548,"id_str":"14455548","indices":[70,79]}]},"favorited":false,"retweeted":false,"lang":"en"}'
  recorded_at: Tue, 09 Apr 2013 09:35:16 GMT
recorded_with: VCR 2.4.0
