- @page_title = 'Chapters menu to jump to different sequences in a video'

p The chapters menu below the player allows you to jump to the different sequences in the video.

= inject_demo_css
= render_demo_html
= render_demo_sources 'html', 'js', 'css'
= render 'use_a_different_design_note'
= inject_demo_js
