- @page_title = 'Dailymotion Cloud integration with the Flat design'

p The following video, hosted on Dailymotion Cloud, plays inside the SublimeVideo Flat design.

= render_demo_html
= render_demo_sources 'html'
= render 'use_a_different_design_note'
