- @page_title = "Let's design your own Tailor-Made Player"

%section.l-full-width-wrap
  %h2.l-center Thank you!

  %p We have received your contact request. We will get back to you as soon as possible.
