- @page_title = "Let's design your own Tailor-Made Player"
- @body_class = "tailor_made_form"

= content_for :header do
  %h2= @page_title
  %p.sub= "If you are interested in designing a tailor-made player with us, please fill in the form below. We will contact you shortly."

%section.box
  %h3.title Thank you!

  %p We have received your contact request. We will get back to you as soon as possible.

  %p
    This may take several days, since the launch of
    = link_to 'SublimeVideo Horizon', 'horizon-framework'
    is generating a substantial amount of requests.
