= content_for :header do
  %h2= "Tailor-made Players Partnerships - Contact form"
  %p.sub= "If you are interested to teaming up with us to design tailor-made players, please fill in the form below. We will contact you shortly."

%h3 Thank you.
