- @page_title = "Tailor-Made Player Parternship"
- @body_class = "tailor_made_form"

= content_for :header do
  %h2= @page_title
  %p.sub= "If you are interested to teaming up with us to design tailor-made players, please fill in the form below. We will contact you shortly."

%section.box
  %h3.title= "Thank you!"

  %p Your contact request has been well received. We'll do our best to come back to you as soon as possible.

  %p This might take several days, as the launch of SublimeVideo Horizon is generating a substantial amount of requests.
