---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/favorites/list.json?include_entities=true&page=1&screen_name=sublimevideo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="KTWk4ZrufEHjncLCsNwhw", oauth_nonce="0f0bf519f0d7f950fd6352b11ff6cd76",
        oauth_signature="NeFcl0pyHb4OIRr%2FAQuSC67DZaI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1365500084", oauth_token="6797462-Sz009rpFmcLGIBANAyJRsKoUlHtf2Rl5YuufnZeiI",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 09 Apr 2013 09:34:45 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1365500985'
      X-Transaction:
      - 76a2e55ab0c7e23d
    body:
      encoding: UTF-8
      string: '[{"created_at":"Thu Mar 14 19:16:34 +0000 2013","id":312281114356088832,"id_str":"312281114356088832","text":"SublimeVideo
        is the best HTML5 video player on the internet. Using it for a pretty long
        time on http:\/\/t.co\/CeyHb3ecnP @Jilion #sublimevideo","source":"web","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":210772301,"id_str":"210772301","name":"Alwin","screen_name":"alwinvdlp","location":"Heerenveen,
        The Netherlands","description":"Software Engineer -- PHP | MySQL | JS | iOS
        | Java | Zend Framework | Linux | iPhone | iPad | iOS \uf8ff | Android","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":61,"friends_count":109,"listed_count":1,"created_at":"Mon
        Nov 01 10:47:47 +0000 2010","favourites_count":4,"utc_offset":3600,"time_zone":"Amsterdam","geo_enabled":true,"verified":false,"statuses_count":911,"lang":"nl","contributors_enabled":false,"is_translator":false,"profile_background_color":"022330","profile_background_image_url":"http:\/\/a0.twimg.com\/profile_background_images\/805369929\/9261cc8f1c0455c3753569edc14047e0.jpeg","profile_background_image_url_https":"https:\/\/si0.twimg.com\/profile_background_images\/805369929\/9261cc8f1c0455c3753569edc14047e0.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/a0.twimg.com\/profile_images\/3216967737\/d1e429cb903fe61c5d6d422f00b2abe2_normal.jpeg","profile_image_url_https":"https:\/\/si0.twimg.com\/profile_images\/3216967737\/d1e429cb903fe61c5d6d422f00b2abe2_normal.jpeg","profile_link_color":"85089E","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"C0DFEC","profile_text_color":"333333","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":false,"notifications":null},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":2,"entities":{"hashtags":[{"text":"sublimevideo","indices":[127,140]}],"urls":[{"url":"http:\/\/t.co\/CeyHb3ecnP","expanded_url":"http:\/\/www.movieskoop.nl","display_url":"movieskoop.nl","indices":[96,118]}],"user_mentions":[{"screen_name":"Jilion","name":"Jilion","id":65370701,"id_str":"65370701","indices":[119,126]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Thu
        Mar 07 23:09:42 +0000 2013","id":309803070643118080,"id_str":"309803070643118080","text":"@Jilion
        This is one bad ass HTML Video Player. http:\/\/t.co\/alUKNMK8td - And the
        Site is so damn beautiful. #HTML5Video #AwesomeDesign","source":"web","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":65370701,"in_reply_to_user_id_str":"65370701","in_reply_to_screen_name":"Jilion","user":{"id"[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/favorites/list.json?include_entities=true&page=5&screen_name=sublimevideo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="KTWk4ZrufEHjncLCsNwhw", oauth_nonce="bc4fdf24e4adea172e46905ad420c758",
        oauth_signature="L0MVDbUt2WXgHEY0rZsXvH7wm3U%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1365500086", oauth_token="6797462-Sz009rpFmcLGIBANAyJRsKoUlHtf2Rl5YuufnZeiI",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 09 Apr 2013 09:34:47 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '10'
      X-Rate-Limit-Reset:
      - '1365500985'
      X-Transaction:
      - 172b445fa39bd58e
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Tue, 09 Apr 2013 09:34:47 GMT
recorded_with: VCR 2.4.0
