---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/favorites/list.json?count=200&include_entities=true&page=1&screen_name=sublimevideo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="6AFqM4wwzq5r1e1METCalQ", oauth_nonce="704f6e06c91c66f3082079c63a8bbf4b",
        oauth_signature="BrJ%2BesJA5bACAQEPxUs4i7KT8i8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1381151655", oauth_token="6797462-UyjlhitafFacKBoJ6mj5l16F32UCYkX7T2S5QUlpw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 07 Oct 2013 13:14:16 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '10'
      X-Rate-Limit-Reset:
      - '1381152056'
      X-Transaction:
      - 81f98b906b8b2983
    body:
      encoding: UTF-8
      string: '[{"created_at":"Mon Jun 17 22:14:02 +0000 2013","id":346752622679715840,"id_str":"346752622679715840","text":"@Jilion
        http:\/\/t.co\/ZXliBmFuHt is now using SublimeVideo for everything. ;-)","source":"\u003ca
        href=\"http:\/\/tapbots.com\/software\/tweetbot\/mac\" rel=\"nofollow\"\u003eTweetbot
        for Mac\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":65370701,"in_reply_to_user_id_str":"65370701","in_reply_to_screen_name":"Jilion","user":{"id":17035875,"id_str":"17035875","name":"Olivier
        Lacan","screen_name":"olivierlacan","location":"Winter Park, Florida, USA","description":"Bricoleur
        at @envylabs cranking on @codeschool, word wrangler, scientific skeptic, and
        logic lumberjack. \n\nBorn and raised in Paris, recently escaped.","url":"http:\/\/t.co\/sn3GuRl6Ky","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/sn3GuRl6Ky","expanded_url":"http:\/\/olivierlacan.com","display_url":"olivierlacan.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":1417,"friends_count":366,"listed_count":105,"created_at":"Wed
        Oct 29 04:28:49 +0000 2008","favourites_count":5562,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":36931,"lang":"en","contributors_enabled":false,"is_translator":false,"profile_background_color":"352726","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme5\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme5\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/a0.twimg.com\/profile_images\/2875129396\/3c636343318bea79fa08feeb2e02b619_normal.jpeg","profile_image_url_https":"https:\/\/si0.twimg.com\/profile_images\/2875129396\/3c636343318bea79fa08feeb2e02b619_normal.jpeg","profile_link_color":"D02B55","profile_sidebar_border_color":"829D5E","profile_sidebar_fill_color":"99CC33","profile_text_color":"3E4415","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":false,"notifications":null},"geo":{"type":"Point","coordinates":[28.54053212,-81.37860079]},"coordinates":{"type":"Point","coordinates":[-81.37860079,28.54053212]},"place":{"id":"19ab9ad13ded6072","url":"https:\/\/api.twitter.com\/1.1\/geo\/id\/19ab9ad13ded6072.json","place_type":"city","name":"Orlando","full_name":"Orlando,
        FL","country_code":"US","country":"United States","bounding_box":{"type":"Polygon","coordinates":[[[-81.50773,28.347984],[-81.229749,28.347984],[-81.229749,28.614251],[-81.50773,28.614251]]]},"attributes":{}},"contributors":null,"retweet_count":0,"favorite_count":1,"entities":{"hashtags":[],"symbols":[],"urls":[{"url":"http:\/\/t.co\/ZXliBmFuHt","expanded_url":"http:\/\/codeschool.com","display_url":"codeschool.com","indices":[8,30]}],"user_mentions":[{"screen_name":"Jilion","name":"Jilion","id":65370701,"id_str":"65370701","indices":[0,7]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Thu
        May 30 14:59:32 +0000 2013","id":340120298353479680,"id_str":"340120298353479680","text":"@Jilion
        new Subtitles feature in SublimeVideo look SLICK","source":"\u003ca href=\"http:\/\/tapbots.com\/software\/tweetbot\/mac\"
        rel=\"nofollow\"\u003eTweetbot for Mac\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":340119892219006977,"in_reply_to_status_id_str":"340119892219006977","in_reply_to_user_id":65370701,"in_reply_to_user_id_[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/favorites/list.json?count=200&include_entities=true&page=2&screen_name=sublimevideo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="6AFqM4wwzq5r1e1METCalQ", oauth_nonce="d7cae636896d820006621a6450d44c8c",
        oauth_signature="mC3dwHC4VP9iyGPVkbZsKUMBk7g%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1381151656", oauth_token="6797462-UyjlhitafFacKBoJ6mj5l16F32UCYkX7T2S5QUlpw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 07 Oct 2013 13:14:17 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '9'
      X-Rate-Limit-Reset:
      - '1381152056'
      X-Transaction:
      - 441dc8881e4451c7
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Mon, 07 Oct 2013 13:14:17 GMT
recorded_with: VCR 2.6.0
