---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 25 Sep 2013 10:42:10 GMT
      Status:
      - 403 Forbidden
      X-Mid:
      - 626abed91f7f4375818a091dd28466e55c4ccf39
      X-Transaction:
      - 1aac69d2221577b5
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":99,"label":"authenticity_token_error","message":"Unable
        to verify your credentials"}]}'
  recorded_at: Wed, 25 Sep 2013 10:42:10 GMT
recorded_with: VCR 2.5.0
