- @page_title = 'Responsive video with a "fill" resizing'

p Here, the player will completely fill its parent, adjusting its aspect ratio when necessary.

= inject_demo_css
= render_demo_html
= render_demo_sources 'html', 'css'
