= content_for :javascript do
  = javascript_include_tag '//use.typekit.net/qxb6miz.js'
  = sublimevideo_loader_tag(:test, host: 'cdn.sublimevideo-staging.net', stage: 'alpha').html_safe

= render template: 'layouts/sublimevideo'
