%h3#email_support.title= "Dedicated Email Support"
.help_box
  %p
    = raw "We offer email support to all our customers - just use the #{link_to "support form", page_url('help', subdomain: 'my')} to email us directly and we'll send you a personal response as soon as we can. If you need extra support and enhanced reactivity, we also offer a #{link_to 'VIP email support add-on', page_path('modular-player', anchor: 'support'), class: 'hl'} with a guaranteed response within the next business day."
